name: "Publish to Dockerhub"
"on":
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    concurrency:
      group: publish-dockerhub
      cancel-in-progress: true

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Short SHA
        run: echo "SHA_SHORT=`git rev-parse --short HEAD`" >> $GITHUB_ENV

      - name: Login to DockerHub Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      #----------------------------------------------
      # setup docker buildx so we can cache
      #----------------------------------------------
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USER }}/autoshift:latest
            ${{ secrets.DOCKERHUB_USER }}/autoshift:${{ env.SHA_SHORT }}
